.container{
    background-color:blue;
    padding: 30px;
}
.row{
    background-color: grey;
    padding: 10px;
    height: 250px;
    margin-bottom: 10px;
}
.col{
    background-color:violet;
    /* height: 50px; */
    padding: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}